html, body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}
#ex1 {
    position: relative;
    overflow: hidden;
    padding: 20% 0; 
    background: url(/img/banner.jpg) no-repeat center;
    background-size: contain; 
    border-top: 1px solid rgba(0,0,0,0.08);
}